<div class="Stepper-class">
  
    <app-wizard>    
      <app-wizard-step [active]="false">
          <div class="step-heading">
            <h1>Step 1</h1>
            <p>Step 1 content goes here...</p>
          </div>
      </app-wizard-step>
      <app-wizard-step>
        <div class="step-heading">
          <h1>Step 2</h1>
          <p>Step 2 content goes here...</p>
        </div>
      </app-wizard-step>
      <app-wizard-step>
        <div class="step-heading">
          <h1>Step 3</h1>
          <p>Step 3 content goes here...</p>
        </div>
      </app-wizard-step>
      <app-wizard-step>
        <div class="step-heading">
          <h1>Step 4</h1>
          <p>Step 4 content goes here...</p>
        </div>
      </app-wizard-step>
    </app-wizard>

</div>